* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
:root{
    --color1 : rgb(252, 252, 252);
    --color2 :  rgba(5, 13, 131, 0.678);
    --color3 :  rgb(206, 206, 206);
}
#mainCheques{
     width: 90vw;
     height: max-content;
     border: 1px solid --color3 ;
     margin: 0px auto ;
     margin-top: -20px;
     background-color: rgba(241, 241, 241, 0.897);
}
.contenedorCheque {
    display: flex;
    height: max-content;
    flex-direction: row; /* Apilar elementos verticalmente */

}
#mainCheques h1{
    display: block;
    background-color: rgba(5, 13, 131, 0.678);
    color: white;
    padding-left: 10px;
    font-size: 30px;
    margin: 0 auto;
    font-family: "Reddit Mono", monospace;
    margin-top: 0px;
    margin-bottom: 40px;

}
.seccion{
    flex: 1;
    padding: 0 40px;
}
.seccion h2{
    width: 100%;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.116);
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    border-radius: 10px;
    font-size: 25px;
    font-family: "Reddit Mono", monospace;
    margin-bottom: 20px;
    
}
form{
    padding: 30px;
    margin-top: 20px;
}
label{
    font-size: 15px;
}
#cheque{
    margin: 0px 10px 40px 0px;
    width: 120px;
}
#orden{
    width: 80%;
    margin: 0px auto 20px auto;
}
#sumaletras{
    width: 250px;
    background-color: rgba(230, 230, 230, 0.904);
    border: none;
    margin: 0px 0px 30px 5px;
}
#detalle{
    width: 90%;
}
input{
    border: 1px solid rgb(170, 170, 170);
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
}
#objeto{
    margin: 50px 0px 30px 0 ;
    width: 60%;
}
.botonesCheques{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    text-align: center;

}
.btnCheque{
    margin: 0 auto;
    width: 60px;
    line-height: 40px;
    width: 100px;
    margin: 0 20px;
    background-color: rgb(14, 4, 150);
    color: white;
    border-radius: 5px;
    border: none;
}
.btnCheque:hover{
    background-color: rgb(14, 4, 107);
}

.fecha{
    margin-bottom: 20px;
}
.chequeNumero{
    display: flex;
}
#labelcheque{
    margin-right: 20px;
    padding-top: 5px;
}
#suma-cheque{
    width: 100px;
    margin-bottom: 20px;
}
#sumaletras-Cheque{
    width: 350px;
}
input:disabled{
    background-color: var(--color3);
    color: black;
}
#orden{
    height: 30px;
    
}
#objeto{
    height: 30px;
    margin-top: -100px;
    max-height: 100px;
}
#checkCheque{
    font-size: 16px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;

}