* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
:root{
    --color1 : rgb(252, 252, 252);
    --color2 :  rgba(5, 13, 131, 0.678);
    --color3 :  rgb(206, 206, 206);
}
.main{
    margin: 30px;
     width: 90vw;
     height: 80vh;
     border: 1px solid --color3 ;
     margin: 30px auto ;
}
.contenedor {
    height: max-content;
    flex-direction: row; 
    padding: 30px;
    margin-top: 20px;
    background-color: rgba(221, 221, 221, 0.541);
}
main h1{
    display: block;
    margin: 0 40px;
    background-color: rgba(5, 13, 131, 0.678);
    color: white;
    padding-left: 10px;
    font-size: 30px;
    margin: 0 auto;
    font-family: "Reddit Mono", monospace;

}
.seccionBuscar{
    width: 100%;
    display: block;
    text-align: center;
}
.demasCampos{
    display: flex;
    justify-content: space-around;
    max-height: max-content;
    max-width: 1200px;
    margin: 0 auto;
}
.seccion{
    line-height: 20px;
    width: 45%;
}
label{
    font-size: 15px;
}
input{
    margin-bottom: 40px;
    border: 1px solid rgb(170, 170, 170);
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
}
#btnBuscar{
    background-color: var(--color2);
    color: var(--color1);
    padding: 9px;
    width: 100px;
    border: none;
    border-radius: 30px;
    margin-left: 10px;
}
#anular{
    background-color: var(--color2);
    color: var(--color1);
    padding: 9px;
    width: 100px;
    border: none;
    border-radius: 30px;
    text-align: center;
    margin: 20px auto;
    margin-left: 10px;
}

#ordenA,#sumaA,#ordenS,#sumaS{
    min-width: 200px;
    max-width: 350px;
}


#sumaletras{
    width: 300px;
    background-color: rgb(253, 253, 253);
}

.contenedorDemasCampos{
display: none;
}


#ordenA{
    width: 500px;
}

/*estilo añadido para la pagina de sacar de circulacion*/
#ordenS{
    width: 500px;
}
.seccion{
    flex: 1;
    padding: 0 40px;
}
.seccion h2{
    width: 100%;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.116);
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    border-radius: 10px;
    font-size: 25px;
    font-family: "Reddit Mono", monospace;
    
}

label{
    font-size: 15px;
}
.cheque{
    margin: 0px 10px 30px 0px;
    width: 120px;
}
.orden{
    width: 80%;
    margin: 5px auto 30px auto;
    max-width: 400px;
}
#ordenA{
    max-width: 200px;
}
.sumaletras{
    width: 250px;
    background-color: rgba(230, 230, 230, 0.904);
    border: none;
    margin: 0px 0px 30px 5px;
}
.fecha{
    margin: 30px 0;
}
#detalle{
    width: 90%;
}
input{
    border: 1px solid rgb(170, 170, 170);
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
}
#btnBuscar{
    background-color: var(--color2);
    color: var(--color1);
    padding: 9px;
    width: 100px;
    border: none;
    border-radius: 30px;
    margin-left: 10px;
}
.fechaA{
    margin-bottom: 50px;
}
.detalle{
    max-width: 400px;
}
#anular{
    background-color: var(--color2);
    color: var(--color1);
    padding: 9px;
    width: 100px;
    border: none;
    border-radius: 30px;
    text-align: center;
    margin: 100px;
}
input:disabled{
    background-color:var(--color3);
}
#anular:hover{
    background-color: rgb(0, 7, 99);
}
#btnBuscar:hover{
    background-color: rgb(0, 7, 99);
}
#sacar{
    background-color: var(--color2);
    color: var(--color1);
    padding: 9px;
    width: 300px;
    border: none;
    border-radius: 30px;
    text-align: center;
    margin: 100px;
}

/*transacciones*/
#mainTransacciones{
    margin: 30px 100px;
}
#ltransaccion{
    margin: 50px 0px 20px 120px;
}
#transaccion{
    margin-top: 30px;
    width: 200px;
    height: 30px;
}
/*anulacion*/
#mensajeBuscar{
    text-align: center;
    padding: 10px 0;
}
/*.demasCampos{
    display: none;
}
.demasCampos.mostrar {
    display: block;
}
*/
/*COncilacionnnnn*/
#concilacionSeccion {
    display: flex;
    flex-direction: column;
    height: max-content; /* Asegura que el contenedor ocupe toda la altura visible del viewport */
    width: 95%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 5%;
}
#concilacionMain h1{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}

.seccion-1 {
    padding: 10px;
    text-align: center;
    margin: -50px 0;
}
.seccion-1 select{
    width: 150px;
    height: 30px;
    margin-right: 20px;
    border-radius: 10px;
}
.seccion-1 button{
    background-color: rgb(33, 33, 148);
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 0;
}
.seccion-1 button:hover{
    background-color: rgb(3, 3, 80);
}
.libro{
    display: flex;
}

.labels {
    flex: 1; /* Que ocupe la mitad del espacio disponible */
    display: flex;
    flex-direction: column;
}
.labels label{
    height: 40px;
    margin: 00px 0px;
    line-height: 40px;
    padding-left: 10%;
    font-weight: bold;

}
.inputs {
    flex: 1; /* Que ocupe la mitad del espacio disponible */
    display: flex;
    flex-direction: column;
    padding: 0;
}
.inputs input{
    height: 40px;
    margin: 0px 0px;
    line-height: 40px;
    width: 50%;
    margin-left: 0%;
    background-color: rgba(156, 152, 152, 0.247);
    border-radius: 0;
    pointer-events: none;
    
}
.div-subtotal{
    display: flex;
    margin-left: 2%;
    width: 100%;
}
#subtotal1,
#saldolibros{
    margin-left: 52%;
}
.label-subtotal{
    line-height: 40px;
    width: 50%;
    text-align: end;
    padding-right: 20px;

}
.labels label.label-end{
    margin-top: 0px;

}
.labels label:nth-child(2) {
    padding-left: 15%; 
}
.labels label:nth-child(3),
.labels label:nth-child(4),
.labels label:nth-child(5) {
    padding-left:20%; 
}
.div-subtotal {

}
/*parte dos libro*/

.dos .labels label:nth-child(1) {
    padding-left: 15%; 
}
.dos .labels label:nth-child(2) {
    padding-left: 20%; 
}
.dos .labels label:nth-child(3){
    padding-left:20%;
}
.dos .labels label:nth-child(4){
    padding-left:10%;
    margin-top:40px;
}

/*divisor*/
 .divisor{
    margin-top: 30px;
}

/*BANCOO*/
.banco{
    display: flex;
    margin-top: 20px
}
.banco .labels label:nth-child(1) {
    padding-left: 10%; 
}
.banco .labels label:nth-child(2) {
    padding-left: 20%; 
}
.banco .labels label:nth-child(3){
    padding-left:20%;
}
.banco .labels label:nth-child(4){
    padding-left:20%;
}
.banco .labels label:nth-child(5){
    padding-left:10%;
    margin-top: 70px;
}
/*botones*/
.botones{
    text-align: center;
    height: 100px;
    line-height: 100px;
}
.botones button{
    padding: 10px 30px;
    background-color: rgb(5, 5, 167);
    color: white;
    border: 0;
    border-radius: 10px;
    margin: 0px 20px;
}

#saldobanco{
    background-color: white;
    margin-left: 52%;
  }
  #saldo_anterior{
    margin-left: 52%;
  }

  /*estilo mayuscula*/
  #saldoLibro-label,
  #saldoConciliadoLibroLabel{
    text-transform: uppercase;
  }
  #labelsub1{
    margin-top: 40px;
  }
  #saldoConciliadoBancoLabel{
    margin-top: 40px;
  }
  #saldoconciliado{
margin-left: 52%;
  }